<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="String Test Suite">
            <directory>tests/ChristianRiesen/String/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/ChristianRiesen/String/</directory>
        </whitelist>
    </filter>
</phpunit>